*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: wheat;
}

html,body{
    width: 100%;
    height: 100%;
}
#container{
    height: 150vh;
    width: 150vw;
    background-color: black;
}